.addUsesbtn {
  float: right;
  padding: 20px;
}

th {
  text-align: center;
}
td {
  text-align: center;
}
table {
  width: 20px;
}

#Search {
  margin-left: 40px;
  margin-top: 20px;
  width: 300px;
}

#icon {
  position: absolute;
}
input {
  margin-left: 30px;
}