.addUsesbtn {
  float: right;
  padding: 20px;
}
th {
  text-align: center;
  border: solid grey 1px;
  font-weight: 600;
}
td {
  text-align: center;
  border: solid gray 1px;
}

table {
  width: 20px;
  border: solid grey 1px;
}

#Search {
  margin-left: 40px;
  margin-top: 20px;
  width: 300px;
}

#icon {
  position: absolute;
}
input {
  margin-left: 30px;
}
